<article class="about-me">

        <header>
            <h1 class="post-title">About me</h1>
        </header>

        <section class="post-content" style="margin-bottom: 20px;">
            <p>My name is Miguel, I work as a Software Engineer at <a href="https://www.plumbee.com/">Plumbee</a>. </p>

<p>This is my personal blog where I share my own opinions about software development and the tech industry. All the opinions expressed here are my own, and not necessarily those of my <a href="https://www.plumbee.com/team/">fellow Plumbeers</a> (yet). </p>

<p>Follow me on <a href="https://twitter.com/mserranom">Twitter</a>, check my <a href="https://github.com/mserranom">Github Projects</a> or review my outdated <a href="https://uk.linkedin.com/in/miguel-serrano-milano-b236268">LinkedIn Profile</a>.</p>
        </section>
    </article>